/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --white: #ffffff;
  --black: #171717;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
